<section class="categoria-bares-homepage"> <!--Seção de Categorias da Homepage-->
    <span class="sect-label">Categorias</span>
    <h2 class="sect-title" id="um-lugar">Tudo o que você precisa em um só lugar</h2>
    <p class="sect-subtitle">Explore diferentes categorias e descubra os melhores estabelecimentos</p>
    <div class="bares">
        <div class="icon-drink">
            🍸
        </div>

        <div class="bares-content">
            <h2 id="bares-category">Bares</h2>
            <p>Opções para encontros, música e lazer noturno.</p>
        </div>
    </div>
</section>