<section class="categoria-bares-homepage"> <!--Seção de Categorias da Homepage-->
    <span class="sect-label">Categorias</span>
    <h2 class="sect-title" id="um-lugar">Tudo o que você precisa em um só lugar</h2>
    <p class="sect-subtitle">Explore diferentes categorias e descubra os melhores estabelecimentos</p>
    <div class="bares">
        <div class="icon-drink">
            🍸
        </div>

        <div class="bares-content">
            <h2 id="bares-category">Bares</h2>
            <p>Opções para encontros, música e lazer noturno.</p>
        </div>
    </div>
    <div class="category-bares-track" id="categorybaresTrack">

            <!-- Card 1: Boteco Posto 15 -->
            <article class="card-category-bares"> <!--Card 1 - categoria-->
                <div class="card-image-container">
                    <img src="img/boteco-posto-15-goiânia-foto-1.WEBP" alt="Boteco Posto 15" />
                    <span class="badge">Aberto até 01:00</span>
                </div>

                <div class="card-content-category-bares">
                    <div class="card-header-info">
                        <h3>Boteco Posto 15</h3>
                        <span class="price">$$$</span>
                    </div>

                    <!-- Categoria com pill em destaque -->
                    <span class="category-bares">Bares</span>

                    <!-- Avaliação -->
                    <div class="rating">
                        <span class="star">★</span>
                        <strong>4.7</strong>
                        <small class="reviews">(563 avaliações)</small>
                    </div>

                    <!-- Comodidades -->
                    <div class="amenities-container">
                        <span class="amenity-item">💨 Aceita Cartão</span>
                        <span class="amenity-more">+1</span>
                    </div>

                    <!-- Descrição -->
                    <p class="description">
                        Boa Gastronomia - Chopp e cervejas especiais
                    </p>

                    <!-- Localização -->
                    <div class="location">
                        <span class="geo-icon">📍</span> Setor Marista - Goiânia, GO
                    </div>
                </div>
            </article>
            <article class="card-category-bares"> <!--Card 2 - categoria bares-->
                <div class="card-image-container">
                    <img src="img/cajuína-bar-goiânia-foto-1.WEBP" alt="Cajuína Bar" />
                    <span class="badge">Aberto até 03:00</span>
                </div>

                <div class="card-content-category-bares">
                    <div class="card-header-info">
                        <h3>Cajuína Bar</h3>
                        <span class="price">$$$</span>
                    </div>

                    <!-- Categoria com pill em destaque -->
                    <span class="category-bares">Bares</span>

                    <!-- Avaliação -->
                    <div class="rating">
                        <span class="star">★</span>
                        <strong>3.9</strong>
                        <small class="reviews">(398 avaliações)</small>
                    </div>

                    <!-- Comodidades -->
                    <div class="amenities-container">
                        <span class="amenity-item">💨 Show ao vivo</span>
                        <span class="amenity-more">+1</span>
                    </div>

                    <!-- Descrição -->
                    <p class="description">
                        Bar em espaço aberto com Show ao vivo, boa comida, cerveja gelada e excelente drinks.
                    </p>

                    <!-- Localização -->
                    <div class="location">
                        <span class="geo-icon">📍</span> Setor Sul - Goiânia, GO
                    </div>
                </div>
            </article>
            <article class="card-category-bares"> <!--Card 2 - categoria bares-->
                <div class="card-image-container">
                    <img src="img/quintal-paulistano-bar-goiânia-foto-1.WEBP" alt="Quintal Paulistano Bar" />
                    <span class="badge">Aberto até 09:00</span>
                </div>

                <div class="card-content-category-bares">
                    <div class="card-header-info">
                        <h3>Quintal Paulistano Bar</h3>
                        <span class="price">$$</span>
                    </div>

                    <!-- Categoria com pill em destaque -->
                    <span class="category-bares">Bares</span>

                    <!-- Avaliação -->
                    <div class="rating">
                        <span class="star">★</span>
                        <strong>4.2</strong>
                        <small class="reviews">700 avaliações)</small>
                    </div>

                    <!-- Comodidades -->
                    <div class="amenities-container">
                        <span class="amenity-item">💨 Show ao vivo</span>
                        <span class="amenity-more">+1</span>
                    </div>

                    <!-- Descrição -->
                    <p class="description">
                        Primeiro bar de after de Goiânia. Drinks hambúrguers e rolezão
                    </p>

                    <!-- Localização -->
                    <div class="location">
                        <span class="geo-icon">📍</span> Setor Sul - Goiânia, GO
                    </div>
                </div>
            </article>
            

            <!-- Você pode duplicar a tag <article class="card"> aqui para criar os cards 2 e 3 -->

        </div> <!-- Fim do categoria bares -->

</section>