/* Posicionamento e propriedades da seção categorias*/
.categoria-bares-homepage{
    text-align: center;
    padding: 4rem 2rem;
}

#um-lugar {
    font-size: 3rem;
}

.bares{
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
    padding: 0.3rem;
    margin: 0;
    margin-top: 2rem;

}
.icon-drink{
    font-size: 3.2rem;
    line-height: 1;
}

.bares-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.bares-content{
    margin: 0;
    text-align: left;
}