<!-- fundo escuro pra cobrir a tela -->
<section class="modal-overlay">
    <!-- a caixa de login com os botoes e inputs -->
    <div class="modal-box">
        <!-- botao de fechar o trem -->
        <button class="close-button" onclick="fecharModalLogin()">X</button>         

        <h2 class="login-title">Login</h2>
        <p>Acesse sua conta Venuo</p>

        <h4 class="input-title">E-mail ou Celular</h4>
        <input type="text" name="campo acesso" id="input-access">

        <h4 class="input-title">Senha</h4>
        <input type="password" name="campo senha" id="input-senha">

        <!-- botão para efetuar o login -->
        <button class="login-button">Entrar</button>

        <!-- divisoria -->
        <p class="p-divisoria">Ou</p>

        <button class="login-google-button">Continuar com Google</button>

        <p class="footer-register">Não tem uma conta? 
            <span class="text-link" onclick="">Cadastre-se</span>
        </p> 
    </div>
</section>